.wrapper{
  margin-top: 5%;
  margin-left: 7%;
}

<<<<<<< HEAD
.navbar-default{
  /*background-color:#B4D8E7;*/
  border: #56BAEC;
}

.navbar-brand{
  /*font-size:48px;*/
  font-family: 'Pacifico', cursive;
  text-align:center;
}

#search{
  position: absolute;
  right: 20px;
}
=======
>>>>>>> c05982f4c71f8779f87232ab1c093d38cf8a25c4
.edit-box{
  background-color:#B4D8E7;
  border-radius:15px;
}

body{
  background-color:#56BAEC;
}

.btn-primary{
  background-color:#FFAEAE !important;
  border-color:white !important;  
}

.btn-primary:hover{
  background-color:#B0E57C !important;
}

.create-btn{
    background-color:white !important;
    position:relative;
    width:300px;
    font-family: 'Pacifico', cursive;
    font-size:32px;
}

.btn-default:hover{
  background-color:#B0E57C !important;
}

.indx-div{
  background-color:#B4D8E7;
  border-radius:15px;
}