.wrapper{
  position:absolute;
  top:25%;
  background-color:#FFCCCC;
  width:100%;
}

.header{
  width:100%;
  background-color:cyan;
  font-size:48px;
  font-family: 'Pacifico', cursive;
  text-align:center;
}

body{
  background-color:#FFCCFF;
}