.wrapper{
  margin-top: 5%;
  margin-left: 7%;
}
.navbar-default{
  /*background-color:#B4D8E7;*/
  border: #56BAEC;
}

.navbar-brand{
  /*font-size:48px;*/
  font-family: 'Pacifico', cursive;
  text-align:center;
}

#search{
  position: absolute;
  right: 20px;
}
.edit-box{
  background-color:#B4D8E7;
  border-radius:15px;
}

body{
  background-color:#56BAEC;
}

.btn-primary{
  background-color:#FFAEAE !important;
  border-color:white !important;  
}

.btn-primary:hover{
  background-color:#B0E57C !important;
}

.create-btn, .cancel-btn, .edit-btn{
  position:relative;
  width:100%;
  font-family: 'Pacifico', cursive;
  font-size:32px;
}

.create-btn{
    background-color:white !important;
}

.cancel-btn{
  background-color: #ffa9a9;
  margin-left: 50px;
}

.edit-btn{
  background-color: #d8d8d8;
}

.cancel-btn:hover{
  background-color: #ff9090;
}

.create-btn:hover{
  background-color:#B0E57C;
}

.indx-div{
  background-color:#B4D8E7;
  border-radius:15px;
}
a:hover{
  text-decoration: none;
} 
.dash{
  height: 100%;
  width: 100%;
  color: white;
}
img{
  width: 100%;
}
.profile{
  background-color: #1463ff;
  padding: 0;
  border-radius: 5px;
}

.profile img{
  border-radius: 5px 5px 0px 0px;
}

.profile div .list-group .list-group-item{
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0 10px;
}

h1, h3{
  font-family: 'Pacifico', cursive;
}
.username{
  margin-left: 40px;
  text-align: left !important;
}

textarea{
  resize: none;
}
.message-btn{
  height: 94px;
}

.message-container{
  height: 400px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e2e2e2;
  overflow-y: scroll;
}
.well{
  color: black;
}

.pic{
  height:165px;
}

.name{
  color:white;
    font-family:'Pacifico', cursive;
    font-size:30px;
}

.shadow{
  box-shadow:3px 3px 10px 1px #56BAEC;
  border-radius:15px;
}

.title{
  background-color:#FFF0AA;
  border-radius:10px;
}

.head-wrap{
  background-color:#FFEC94;
  padding:10px;
}

.about-marg{
  margin-top:10px;
}

.about-h1{
  padding:2px;
  text-align:center;
  font-size:48px;
  font-family:'Pacifico', cursive;
  color:white;
}

.about-body{
  font-size:22px;
  padding:10px;
  background-color:white;
  font-family:'Pacifico', cursive;
  word-wrap:break-word;
  border-radius:10px;
  margin-bottom:15px;
  text-indent: 50px;
}