.pic{
  height:165px;
}

.name{
  color:white;
    font-family:'Pacifico', cursive;
    font-size:30px;
}

.shadow{
  box-shadow:3px 3px 10px 1px #56BAEC;
  border-radius:15px;
}

.title{
  background-color:#FFF0AA;
  border-radius:10px;
}

.head-wrap{
  background-color:#FFEC94;
  padding:10px;
}

.about-marg{
  margin-top:10px;
}

.about-h1{
  padding:2px;
  text-align:center;
  font-size:48px;
  font-family:'Pacifico', cursive;
  color:white;
}

.about-body{
  font-size:22px;
  padding:10px;
  background-color:white;
  font-family:'Pacifico', cursive;
  word-wrap:break-word;
  border-radius:10px;
  margin-bottom:15px;
}