body{
  background-color: #56BAEC;
}

.row{
  margin:0px !important;
}

.box{
  margin: 10px 0;
  padding: 20px 10px;
  border-radius: 5px;
}

/*.box:nth-of-type(even){
  background-color: #0080ff;
}*/

.box:nth-of-type(odd){
  background: #e6e6e6; 
}

.fa-times{
  margin-left:-30px;
}

textarea{
  resize: none;
}

.form-control{
  display: inline;
} 

/*profile css*/

.portrait{
  width:100%;
  border-radius:10px;
  padding:5px;
  height: 500px;
}

.profile-wrap{
  margin-top:5%;
  margin-left:7%;
  margin-right:7%;
  background-color:#B4D8E7;
  padding:25px;
  border-radius:5px;
}

.name{
  font-size:36px;
  font-family:'Pacifico', cursive;
  text-align:center;
}

.panel-title{
  font-size:36px;
  font-family:'Pacifico', cursive;
}

.info{
  font-size:24px;
  margin-left:0px;
  margin-right:0px;
  margin-top:15px;
  margin-bottom:15px;
  border-radius:5px;
  background-color:rgba(255,255,255,.6);
}

.bio{
  font-size:24px;
  margin-left:0px;
  margin-right:0px;
  margin-top:15px;
  margin-bottom:15px;
  border-radius:5px;
  background-color:rgba(255,255,255,.6);
}

.panel-body img{
  height: 550px;
}

.thumbnail img{
  height: 300px;
}

.header{
  width:100%;
  background-color:#B4D8E7;
  font-size:48px;
  font-family: 'Pacifico', cursive;
  text-align:center;
}

.cancel-btn{
  margin:0px !important;
  width:75% !important
}

.create-btn{
  margin:0px !important;
  width:75% !important;
}.