body{
  background-color: #56BAEC;
}

.box{
  margin: 10px 0;
  padding: 20px 10px;
  border-radius: 5px;
}

/*.box:nth-of-type(even){
  background-color: #0080ff;
}*/

.box:nth-of-type(odd){
  background: #e6e6e6; 
}

.fa-times{
  margin-left:-30px;
}

textarea{
  resize: none;
}

.form-control{
  display: inline;
} 

/*profile css*/

.portrait{
  width:100%;
  border-radius:10px;
}

.profile-wrap{
  margin-top:5%;
  margin-left:7%;
  margin-right:7%;
  background-color:#B4D8E7;
}

/*.shade{
  background-color:rgba(255,255,255,.2);
  border-radius:15px;
}*/

.name{
  font-size:36px;
  font-family:'Pacifico', cursive;
  text-align:center;
}

.info{
  font-size:24px;
}