<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/dash.css" rel="stylesheet"/>
  <meta charset="utf-8">
  <title>JS Bin</title>
</head>
<body>
  <div class="header">
    Waifu Chat
  </div>
  <div class="col-sm-9 main">
    <div class="col-sm-6" style="height: 100%">
      <div class="profile-pic col-sm-12">
        <img src="http://28.media.tumblr.com/tumblr_m22hb6PySS1rrhfu7o1_1280.jpg"/>
      </div>
      <div class="waifu-list col-sm-12">
        
      </div>
    </div>
    <div class="col-sm-6">
      <h1>Username</h1>
    </div>
  </div>
  <div class="col-sm-3 aside">
    
  </div>
  <script src="//code.jquery.com/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>