<!doctype html>
<html>
  <head>
    <title>Waifu Chat - <%=%></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index_style.css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="http://31.media.tumblr.com/avatar_0654a14fe211_128.png">
    <link rel="stylesheet" href="/css/profile.css">
  </head>
  <body>
    
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Waifu Chat</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="ui"><a href="/dash">Dash</a></li>
            <li class="ui"><a href="/characters">Characters</a></li>
            <li class="ui"><a href="/users">Community</a></li>
            <li class="ui"><a href="/edit">Edit Profile</a></li>
          </ul>
          <form class="navbar-form navbar-left" id="search">
            <div class="col-sm-12">
              
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" id="inputGroup">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </span>
                    </div>
                </div>
            </div>
          </form>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    
    <% #if @user.image == nil then @user.image = "http://cumbrianrun.co.uk/wp-content/uploads/2014/02/default-placeholder.png"%><% #end %> 
    <form class="form-horizontal" action="/edituser" method="POST">
    <div class="profile-wrap">
    <div class="row head-wrap">
      <div class="col-lg-3">
        <img class="pic shadow" src="http://28.media.tumblr.com/tumblr_m22hb6PySS1rrhfu7o1_1280.jpg">
      </div>
      <div class="col-lg-7 col-lg-offset-1 title shadow">
        <h1 class="name"><%=@user.username%></h1>
        <p class="panel">Member Since:<%=@user.created_at%></p><br>
        <p class="panel">Last signed on: xxxxxx</p>
      </div>
    </div>
    <br>
    <!-- Profile Information -->
      <div class="row head-wrap">
        <div class="col-lg-6 title shadow">
        <br>
          <ul class="list-group">
              <li class="list-group-item">
                <input type="text" class="form-control" name="name" placeholder="Your name here">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" name="birthday" placeholder="Your Birthday?">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" name="country" placeholder="Country?">
              </li>
              <li class="list-group-item">
                <input type="text" class="form-control" name="language" placeholder="Language(s)?">
              </li>
            </ul>
        </div>

        <div class="col-lg-4 col-lg-offset-1 title shadow">
        <h1 class="name">Favourites</h1>
        </div>

        </div>

         <div class="row head-wrap about-marg">
          <div class="col-lg-12 title shadow">
            <h1 class="about-h1">About</h1>
            <div class="about-body">
              <textarea class="form-control" name="about" placeholder="Anything about you...Hobbies...Interest?" rows="6" resize="none"></textarea>
            </div>
          </div>
          <div class="col-lg-12">
            <input type="hidden" name="id" value="<%=@user.id%>"/>
            <button type="submit" class="btn btn-default edit-btn">Save Changes</button>
          </div>
        </div>
    </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/js/ui.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </body>
</html>
