  <div class="wrapper">
      <div class="container">
      <% if session[:user_id] %>
        <div id="welcome">
          <h1>Welcome to WaifuChat, <%=@user.username%>!</h1>
          <br>
          <p>
            WaifuChat is a place where you can <a href="/new_character">create</a>, edit, and <a href="/characters">display</a> your favourite characters to the community!
          </p>
          <br>
          <!-- <div class="blog">djkfnae</div> -->
        </div>





        <%else%>
        <div class="col-lg-5 indx-div">
          <h1>Sign up for an account!</h1>
          <form action="signup" method="POST">
            <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control" id="inputBox" placeholder="Enter email" name="email" required>
            </div>

            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" id="inputBox" placeholder="Create username" name="username" maxlength="16"required>
            </div>

            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" id="inputBox" placeholder="Create Password" name="password" required>
            </div>

            <center><button type="submit" class="btn btn-default create-btn">Sign up</button></center>
          </form>
          <br>
        </div>

        <div class="col-lg-1">
        <br>
        </div>
        <div class="col-lg-5 indx-div">
          <h1>Sign in</h1>
           <form action="signin" method="POST">
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" id="inputBox" placeholder="Create username" name="username" required>
            </div>

            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" id="inputBox" placeholder="Create Password" name="password" required>
            </div>

            <center><button type="submit" class="btn btn-default create-btn">Log In</button></center>
          </form> 
          <br>
        </div>

      </div>
      <br>
    </div>
    <div class="modal"><!-- Place at bottom of page --></div>
    <%end%>