<!doctype html>
<html>
  <head>
    <title>Waifu Chat - Characters</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index_style.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Waifu Chat</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <% if session[:user_id] %>
            <li class="ui"><a href="/dash">Dash</a></li>
            <% end %>
            <li class="ui"><a href="/characters">Characters</a></li>
            <li class="ui"><a href="/users">Community</a></li>
          </ul>
          <ul class="nav navbar-nav login">
             <% if session[:user_id] %>
             <li class="ui"><a href="/user/edit/<%=@user.id%>">Edit Profile</a></li>
             <li class="simple">Welcome,</li>
              <li class="ui"><a href="/user/<%=@user.id%>"><%=@user.username%>!</a> </li>
              <li class="simple"><a href="/signout" style="display: inline">Logout</a></li>
            <% else %>
              <li class="ui"><a href="/">Login or sign up</a></li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

     <%= yield %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/js/ui.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>