<!doctype html>
<html>
  <head>
    <title>Waifu Chat - New Character</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <form class="form-horizontal" action="new_character" method="POST">
        <div class="col-sm-12 box">
          <div class="col-sm-6">
            <div class="form-group col-sm-12">
              <div class="col-sm-12">
                <input type="text" class="form-control" name="name" placeholder="Name">
              </div>
            </div>
            <div class="form-group col-sm-12">
            <div class="col-sm-12">
              <input type="text" class="form-control" name="bio" placeholder="Origin/Birthplace">
            </div>
          </div>
          <div class="form-group col-sm-12">
            <div class="col-sm-12">
              <input type="text" class="form-control" name="birthday" placeholder="Birthday">
            </div>
          </div>
        </div>
        <div class="form-group col-sm-6">
          <div class="col-sm-12">
            <textarea class="form-control" name="bio" placeholder="Character Bio" rows=6></textarea>
            </div>
          </div>
        </div>

        <div class="col-sm-12 box">
          <div class="col-sm-5">
            <div class="likes lwrapper">
              <div class="form-group">
                <input type="text" class="form-control" name="likes[]" placeholder="Like">
              </div>
            </div>
            <div class="btn btn-primary" id="like_btn">Add Like</div>
          </div>
          <div class="col-sm-5 col-sm-offset-2">
            <div class="dislikes lwrapper">
              <div class="form-group">
                <input type="text" class="form-control" name="dislikes[]" placeholder="Dislike">
              </div>
            </div>
            <div class="btn btn-primary" id="dislike_btn">Add Dislike</div>
          </div>
        </div>
        
        <div class="col-sm-12 box">
          <div class="appearances lwrapper col-sm-12">
            <div class="form-group">
              <input type="text" class="form-control" name="appearances[]" placeholder="Appearance">
            </div>
          </div>
          <div class="btn btn-primary" id="appearance_btn">Add Appearance</div>
        </div>

        <div class="form-group box">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </div>
      </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
